<link rel="stylesheet" href="/stylesheets/compenents/login.css">
<div class="login-container">
    <p class="component-title">Forgot your password?</p>
    <p style="text-align: center; padding: 0.6rem;">Please enter the email that you used to register
    </p>
    <form class="login-form">

        <input class="login-field" type="email" placeholder="email" name="email">
        <p class="error-message"></p>

        <input class="login-button" type="submit" value="Submit">
        <div class="login-footer">
            <a style="color: #C200FF;cursor: pointer; font-weight: bold;">Back</a>
        </div>
    </form>
</div>