<link rel="stylesheet" href="/stylesheets/components/header.css">
<header>
    <div class="material-symbols-outlined hamburger">
        menu
    </div>

    <div class="material-symbols-outlined hamburger hide">
        close
    </div>

    <div class="app-name">Taskko</div>

    <button class="material-symbols-outlined display-mode hide">
        light_mode
    </button>

    <button class="material-symbols-outlined display-mode">
        dark_mode
    </button>
</header>
<script src="/javascripts/header.js"></script>