<link rel="stylesheet" href="/stylesheets/components/header.css">
<header>
    <div id="menu">
        <div class="material-symbols-outlined hamburger open">
            menu
        </div>

        <div class="material-symbols-outlined hamburger close hide">
            close
        </div>
    </div>
    <div class="app-name">Taskko</div>

    <button id="light" class="material-symbols-outlined display-mode">
        light_mode
    </button>

    <button id="dark" class="material-symbols-outlined display-mode hide">
        dark_mode
    </button>
</header>
<script src="/javascripts/components/header.js"></script>