<link rel="stylesheet" href="/stylesheets/compenents/login.css">
<div class="login-container">
    <p class="component-title">Login</p>
    <form class="login-form">

        <input class="login-field" type="text" placeholder="Username" name="username">
        <p class="error-message"></p>

        <input class="login-field" type="password" placeholder="Password" name="password">
        <span class="error-message"></span>

        <input class="login-button" type="submit" value="Login">
        <div class="login-footer">
            <a style="cursor: pointer;">Forgot Password?</a>
            <a style="color: #C200FF;cursor: pointer; font-weight: bold;">Sign Up</a>
        </div>
    </form>
</div>
<script src="/javascripts/components/login.js"></script>