<link rel="stylesheet" href="/stylesheets/components/login.css">
<dialog class="login-container">
    <span id="closeLogin" class="material-symbols-outlined" style="cursor: pointer;">
        close
    </span>
    <p class="component-title">Login</p>
    <form id="login" class="login-form">

        <input class="login-field" type="text" placeholder="Username" name="username">
        <p class="error-message error-login"></p>

        <input class="login-field" type="password" placeholder="Password" name="password">
        <p class="error-message error-login"></p>

        <p class="sMessage"></p>
        <input id="login-submit" class="login-button" type="submit" value="Login">
        <div class="login-footer">
            <button type="button" id="forgotPassword-button"
                style="border:none; background-color: inherit; cursor: pointer; font-size: 1.1rem;">Forgot
                Password?</button>
            <button type="button" id="signup-button"
                style="border:none; background-color: inherit; color: #C200FF;cursor: pointer; font-weight: bold; font-size: 1.1rem;">
                Sign Up</button>
        </div>
    </form>
</dialog>
<script src="/javascripts/components/login.js"></script>