<link rel="stylesheet" href="/stylesheets/compenents/message.css">
<div class="message-container">
    <div class="message">This is the text message</div>
    <button class="message-button">Ok</button>
</div>