<link rel="stylesheet" href="/stylesheets/components/navbar.css">
<nav class="navbar">
    <div class="greetings">
        <p>Welcome</p>
        <% if(auth){ %>
            <p>Username</p>
            <% }else{ %>
                <p>Guest</p>
                <% } %>

    </div>
    <hr class="username-separator">
    <ul>
        <li class="nav-tab">
            <a href="/">Tasks</a>

        </li>
        <li class="nav-tab">
            <a href="/analysis">Analysis</a>
        </li>
        <li class="nav-tab">
            <a href="/services">Services</a>

        </li>
        <li class="nav-tab">
            <a href="/history">History</a>
        </li>
        <% if(auth){ %>
            <li class="nav-tab">Logout</li>
            <% } %>
    </ul>
</nav>
<script src="/javascripts/components/navbar.js"></script>