<link rel="stylesheet" href="/stylesheets/components/navbar.css">
<nav class="navbar">
    <div class="greetings">
        <p>Welcome</p>
        <p>Username</p>
    </div>
    <hr class="username-separator">
    <ul>
        <li class="nav-tab">Tasks
            <span class="nav-arrow"></span>

        </li>
        <li class="nav-tab nav-tab-selected">
            Analysis
            <span class="nav-arrow"></span>
        </li>
        <li class="nav-tab">Services
            <span class="nav-arrow"></span>

        </li>
        <li class="nav-tab">History
            <span class="nav-arrow"></span>

        </li>
        <li class="nav-tab">Logout</li>
    </ul>
</nav>
<script src="/javascripts/navbar.js"></script>