<link rel="stylesheet" href="/stylesheets/components/login.css">
<dialog class="login-container signup-container">
    <p class="component-title">Sign Up</p>
    <form id="signup" class="login-form">

        <input class="login-field" type="text" placeholder="Username" name="username">
        <p class="error-message error-signup"></p>

        <input class="login-field" type="email" placeholder="email" name="email">
        <p class="error-message error-signup"></p>

        <input class="login-field" type="password" placeholder="Password" name="password">
        <p class="error-message error-signup"></p>

        <input class="login-field signup-password" type="password" placeholder="Re-Enter Password"
            name="confirm-password">
        <p class="error-message error-signup"></p>

        <input id="signup-submit" class="login-button" type="submit" value="Sign Up">

        <button type="button" style="width: 20%;" class="login-footer back">
            Back
        </button>
    </form>
</dialog>
<script src="/javascripts/components/signup.js"></script>