<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskko</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
    <header>
      <div class="material-symbols-outlined hamburger">
        menu
      </div>

      <div class="material-symbols-outlined hamburger hide">
        close
      </div>

      <div class="app-name">Taskko</div>

      <button class="material-symbols-outlined display-mode">
        light_mode
      </button>

      <button class="material-symbols-outlined display-mode">
        dark_mode
      </button>

    </header>
    <!-- <nav class="navbar">
            <ul>
                <li class="nav-tab nav-tab-selected">Tasks
                    <span class="nav-arrow"></span>

                </li>
                <li class="nav-tab">
                    Analyze
                    <span class="nav-arrow"></span>
                </li>
                <li class="nav-tab">Services
                    <span class="nav-arrow"></span>

                </li>
                <li class="nav-tab">History
                    <span class="nav-arrow"></span>

                </li>
                <li class="nav-tab">Logout</li>
            </ul>
        </nav> -->
    <main>
      <section class="search">
        <input class="search-bar" type="text" name="search-task" placeholder="Search">
        <select id="task-category">
          <option value="All">All</option>
          <option value="Work">Work</option>
          <option value="Personal">Personal</option>
        </select>
      </section>
      <hr class="separator">

      <div class="task-container">
        <div class="task">
          <div class="task-front">
            <div class="part-1">
              <div class="task-label">
                Work
                <span class="label-arrow"></span>
              </div>
              <div class="sr-no">
                1
              </div>
            </div>
            <div class="part-2">
              <div class="title">
                Do the homework
              </div>
              <div class="dates">
                <span>Created on: 20/3/32</span>
                <span>Deadline: 30/3/23</span>
              </div>
            </div>
            <div class="part-3">
              <button class="task-completed">
                <span class="material-symbols-outlined">
                  done
                </span></button>
              <button class="task-delete">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </button>
            </div>
          </div>
          <div class="task-behind">
            <div class="description">
              Gonna do it in time.
            </div>
            <div class="reminder">
              Remindes before <span style="color: #C200FF; font-weight: bolder;">10 days</span>
            </div>
          </div>
        </div>
      </div>

    </main>
  </body>
  <script src="index.js"></script>

</html>