* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main {
    width: 100%;
    height: minmax(100vh, auto);
}

.search {
    height: 4.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-bar {
    width: 70%;
    height: 2rem;
    flex-shrink: 0;

    border-radius: 3px;
    background-color: #f8f8f8;
    padding: 0.2rem;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    outline-style: none;
}

#task-category,
#create-task-cateogry {
    width: 5.4rem;
    height: 2rem;
    flex-shrink: 0;

    border-radius: 3px;
    background-color: #f8f8f8;
    padding: 0.2rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    outline: none;
}

.separator,
.page-name-separator {
    width: 6%;
    height: 3px;
    margin: 0px auto;
    background-color: #8f00bb;
}

.username-separator {
    width: 60%;
}

.page-name-separator {
    width: 20%;
    height: 4px;
    margin: 0.2rem auto;
}

/* Task Container */

.task-container {
    width: 96%;
    height: auto;
    margin: 1.4rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.add-task {
    position: fixed;
    z-index: 10;
    top: 88%;
    width: 3.8rem;
    height: 3.8rem;
    margin-left: 76%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #a400d6;
    border-radius: 50%;

    cursor: pointer;

}

.add-task:hover {
    background-color: #C200FF;
}

.add-button {
    font-size: 2.6rem;
    color: white;
}

.hide {
    display: none;
}

@media only screen and (min-width: 1200px) {
    main {
        width: 60%;
        margin: 0rem 2rem;
    }

    .page-container {
        display: flex;
    }

    .search {
        margin: 0.6rem 0rem;
    }

    #task-category {
        width: 7rem;
        height: 2.4rem;
        font-size: 1rem;
    }

    .search-bar {
        font-size: 1rem;
        height: 2.4rem;
        margin: 0rem 0.2em;
    }

    .add-task {
        width: 4rem;
        height: 4rem;
        margin-left: 62%;
    }
}