#create-task-dialog {
    width: 90%;
    height: fit-content;
    margin: 12rem auto;
    border: none;
}

.create-task {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(to bottom right,
            var(--model-color1) 10%,
            var(--model-color2));
    border-radius: 0.4rem;
}

.create-task-header {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}

.create-task-field,
.create-task-textarea {
    width: 90%;
    height: 2.4rem;
    padding: 0.4rem;
    margin: 0.4rem;

    outline: none;
    border: none;

    background-color: var(--overlay-1);
    font-size: 0.9rem;

    box-shadow: 0px 3px 2px var(--overlay-2);

}

:root[data-theme='dark'] .create-task-field,
:root[data-theme='dark'] .create-task-textarea {
    background-color: var(--overlay-2);
    box-shadow: 0px 3px 2px var(--overlay-3);
}

.create-task-textarea {
    height: 6rem;
    resize: none;
}

.create-task-close {
    align-self: flex-end;
    margin: 0.6rem;
}

.task-deadline {
    align-self: flex-start;
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
}

#create-task-category {
    align-self: flex-start;
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
}

.task-create-button {
    width: 6rem;
    height: 2rem;
    border: none;
    background-color: var(--overlay-1);
    border: 1px solid var(--secondary-color);
    border-radius: 0.4rem;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.4rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.task-create-button:hover {
    background-color: var(--secondary-color);
    color: #f8f8f8;
}

.hide {
    display: none;
}

@media only screen and (min-width: 1200px) {
    #create-task-dialog {
        width: 50%;
        margin: auto auto;
    }

    .task-deadline {
        align-self: flex-start;
        margin: 0.5rem 2.5rem;
        font-size: 1rem;
        border: none;
        outline: none;
    }

    #create-task-category {
        align-self: flex-start;
        margin: 0.5rem 2.5rem;
        font-size: 1rem;
        border: none;
        outline: none;
    }

}