:root[data-theme='light'] {
    --navbar-bg: #f1f1f1;
}

:root[data-theme='dark'] {
    --navbar-bg: #222222;
}


.navbar {
    position: fixed;
    z-index: 8;
    width: 100%;
    background-color: var(--navbar-bg);
    border-bottom: 1px dotted var(--secondary-color);
    top: 3.2rem;

}

.nav-tab {
    position: relative;
    cursor: pointer;
    height: 4rem;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.nav-tab a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar ul {
    margin-top: 3rem;
}

.nav-tab:hover {
    background-color: var(--bg-hover);
    transition: 0.2s;
}

.greetings {
    height: fit-content;
    padding-top: 1.8rem;
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.greetings p:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.3rem;
}

.username-separator {
    width: 60%;
    height: 3px;
    margin: 0px auto;
    background-color: #8f00bb;
}

@media only screen and (min-width: 1200px) {
    .navbar {
        position: sticky;
        width: 20%;
        min-height: 92.3vh;
        top: 3.625rem;
        align-self: flex-start;
        border-right: 2px solid var(--secondary-color);
        background-color: var(--bg);
    }

    .nav-tab {
        margin: 2rem 0rem;
        border: none;
    }

    .nav-tab a {
        text-decoration: none;
        color: var(--text-color);
    }

    .nav-tab-selected .nav-arrow {
        opacity: 100%;
    }

    .greetings {
        font-size: 1.2rem;
        padding-top: 3rem;
    }

    .greetings p:first-child {
        font-size: 1.5rem;
    }
}